
Django==5.2.1
fastapi==0.115.14
uvicorn==0.15.0
Flask==3.1.1
PyMuPDF==1.23.9


Jinja2==3.1.6
python-dotenv==0.19.2
python-multipart==0.0.20
PyJWT==2.3.0
bcrypt==3.2.0


beautifulsoup4==4.13.4
weasyprint==65.1
reportlab==3.6.8
requests==2.25.1

python-dateutil==2.9.0.post0

pydantic==2.11.7
pydantic_core==2.33.2
annotated-types==0.7.0


pytz==2022.1
typing_extensions==4.14.0
watchgod==0.8.2

